<% content_for :title, @post.title %>
<% content_for :subtitle, @post.subtitle %>
<% content_for :path, "/posts/#{@post.slug}" %>
<% content_for :image, asset_path("home-bg1.jpg") %>
<% content_for :intro_class, 'post-heading' %>
<% content_for :type, 'article' %>
<% content_for :author, @post.user_page %>

<progress max="1" value="0"></progress>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="post-content">
    <%= raw @post.content %>
    <hr>
    <p class="post-meta">Posted by <a href="<%= @post.user_page %>" target="_blank"><%= @post.user_name %></a> on <%= I18n.l @post.published_at, format: :long %></p>

    <hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'efreesen';

      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>