<% content_for :title, "About The Blog" %>
<% content_for :subtitle, "def efreesen; efreesen; end" %>
<% content_for :image, asset_path("about-bg.jpg") %>
<% content_for :intro_class, 'page-heading' %>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <p>Hey! First of all, thanks for coming, I hope you enjoy your stay!</p>
  <h2>Ok, Thank you. But, what the heck is a recursive blog?</h2>
  <p>Well, let's start from the begining. Lately I have been studying a lot about Design Patterns and DDD. So I started to learn a lot of interesting things, however I had nowhere to apply these new findings except some minor projects at work or some personal projects. Thus all the knowledge was scattered throughout them.</p>
  <p>So I decided to create two projects, one to be a kind of a laboratory, and the other, a blog to write about my findings, only to realize that I could create only one, a blog using these "<i>new techniques</i>" and reuse it to write about how I made it.</p>
  <p>In the end a recursive blog is a blog which I code and also tell how I coded it, isn't it nice?</p>
  <p>Well, now let's get started. You can check out my <a href="/posts">posts</a> or if you prefer you can go and check out the whole <a href="http://code.efreesen.com/efreesen/blog" target="_blank">blog code</a></p>
</div>