<% content_for :title, "Oops" %>
<% content_for :subtitle, "Something went wrong" %>
<% content_for :image, asset_path("about-bg.jpg") %>
<% content_for :intro_class, 'page-heading' %>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <p>Sorry, our server is misbehaving.</p>
  <p>Try again later or <a href="/">start again</a>.</p>
</div>