<% content_for :title, "Not Found" %>
<% content_for :subtitle, "Could not find the resource" %>
<% content_for :image, asset_path("about-bg.jpg") %>
<% content_for :intro_class, 'page-heading' %>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <p>Sorry, we could not find what you are looking for.</p>
  <p>Try looking on the <a href="/">home page</a>.</p>
</div>